<div class="mt-4">
    <form METHOD="POST" action="">
        <div class="form-group">
            <label class="search-input">Từ khóa</label>
            <input type="text" class="form-control" placeholder="Nhập từ khóa..." name="q">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div> 